* {
  font-size: 18px ;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  margin: 0 auto;
  width: 256px;
  text-align: center;
  border: 10px solid black;
  background: black ;
  border-radius: 5px;
}
.keypad{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(60px,auto);
}
input[type='text']{
  height: 75px;
  width: 250px;
  background-color: black;
   border: 0px;
   color: wheat;
   text-align: right;
   font-size: 25px;
   font-weight: 500;
   letter-spacing: 1px;
}
#clear{
  grid-column: 1/3;
  grid-row: 1;
  color: rgba(0, 0, 0, 0.712);
}
#result{
  grid-column: 3/5;
  grid-row: 5;
  color: rgba(0, 0, 0, 0.712);
}
#backspace{
  color: rgba(0, 0, 0, 0.712);
}
button{
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* background: rgba(0, 0, 0, 0.192); */
color:black;
font-weight: 500; 
} 
input:focus,
input:active,
button:focus,
button:active{
  outline: none;
}

.highlight{
  background: rgb(43, 150, 192);
}
